//
// Layout
// --------------------------------------------------

.l-wrapper {
  display: flex;
  flex-direction: column;

  @include mappy-bp($bp-layout-horizontal) {
    flex-grow: 1;
    flex-direction: row;
  }
}

// Shared (Head + Content)
.l-content,
.l-head {
  padding-left: $container-gutter;
  padding-right: $container-gutter;

  @include mappy-bp(sm) {
    padding-left: $container-gutter-sm;
    padding-right: $container-gutter-sm;
  }
}

.l-content__inner,
.l-head__inner {
  max-width: rem($container-width-default);
}

// Head
.l-head {
  padding-top: rem(10px);
  padding-bottom: rem(10px);

  @include mappy-bp($bp-layout-horizontal) {
    width: 50%;
    padding-top: rem($head-spacing-vertical-sm);
    padding-bottom: 0;
  }
}

.l-head__inner {
  @include mappy-bp($bp-layout-horizontal) {
    margin-left: auto;

    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.l-head__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .c-nav-burger {
    margin-left: rem(25px);
  }
}

.l-head__nav {
  height: 0;
  overflow: hidden;

  transition-property: all;
  transition-duration: $transition-time-medium;
  transform:  scaleY(.6);
  opacity: 0;
  transform-origin: top center;

  &.is-open {
    height: auto;
    overflow: visible;
    opacity: 1;
    transform: scaleY(1);
  }

  @include mappy-bp($bp-layout-horizontal) {
    height: auto;
    overflow: visible;
    opacity: 1;
    transform: scaleY(1);

    padding-left: rem(173px); // totally magic number, based on logo signet width
  }

  .c-nav {
    padding-top: rem(20px);
    padding-bottom: rem(20px);
  }
}

.l-head__model {
  display: none;

  @include mappy-bp($bp-layout-horizontal h 960px) {
    display: block;
    margin-top: auto;
    padding-top: rem(50px);
  }
}

// Content
.l-content {
  background-color: $color-gray-2;
  color: white;
  @include font-smoothing;

  @include mappy-bp($bp-layout-horizontal) {
    width: 50%;
  }
}

.l-content__inner {
  padding-top: rem($content-spacing-vertical);
  padding-bottom: rem($content-spacing-vertical);

  @include mappy-bp(md) {
    padding-top: rem($content-spacing-vertical-sm);
    padding-bottom: rem($content-spacing-vertical-sm);
  }
}
