//
// Colors
// --------------------------------------------------

// Black & White
$color-black: #000;
$color-white: #fff;

// Shades of gray
$color-gray-9: #999;

// Brand colors
$color-gold: #948b5b;
$color-gold-light: #ccbf7a;
