//
// General settings
// --------------------------------------------------

// Breakpoints
$breakpoints: (
  'xs': 480px,
  'sm': 768px,
  'md': 1025px,
  'lg': 1200px,
  'xl': 1400px
);

$bp-layout-horizontal: 'md';

// Transition timing
$transition-time: .2s;
$transition-time-medium: .5s;
$transition-time-long: .8s;

// z-index indexes
$z-index: column-main, column-header;

// Sizes
$container-gutter: 25px;
$container-gutter-sm: 50px;
$container-width-default: 460px;

$content-spacing-vertical: 50px;
$content-spacing-vertical-sm: 100px;
$head-spacing-vertical-sm: 72px; // corresponds to $content-spacing-vertical-sm
