extends ../layouts/layout.pug

block variables
  - var model = '07';
  - var handle = 'datenschutz';

block content
  h1.c-headline.c-headline--h1.c-content__h1 Datenschutz

  //- Richtext content
  .c-richtext
    p
      | Friseursalon Schmitt für die Webseite www.friseurschmitt.de und zugleich Information der Betroffenen nach Artikel 13 und 14 EU-Datenschutzgrundverordnung.
      br
      | Wir freuen uns über Ihren Besuch auf unserer Webpräsenz und Ihr Interesse an unserem Unternehmen und unseren Leistungen. Mit den folgenden Datenschutzhinweisen erläutern wir, welche personenbezogenen Daten wir über Sie erheben, wenn Sie unsere o.g. Website unter aufrufen und wie diese genutzt werden.
    p
      strong
        | Verantwortliche Stelle im Sinne der Datenschutzgesetze - insbesondere der EU-Datenschutzgrundverordnung (DSGVO) - ist:
      br
      | Gesetzlicher Vertreter: Peter Schmitt
      br
      | Geschäftsführer: Peter Schmitt
      br
      | Adresse: Barbarossastraße 33, 63579 Freigericht-Somborn
      br
      | Telefon: 06055 / 2354
      br
      | E-Mail: #[a(href="mailto:info@friseurschmitt.de") info@friseurschmitt.de]
      br
    p Sie können zu jeder Zeit unter den Kontaktdaten folgende Rechte ausüben:
    p
      | Sie sind gemäß § 15 DSGVO jederzeit berechtigt, gegenüber Friseursalon Schmitt um umfangreiche Auskunftserteilung zu den zu Ihrer Person gespeicherten Daten zu ersuchen.
      br
      | Gemäß § 17 DSGVO können Sie jederzeit die Berichtigung, Löschung und Sperrung einzelner personenbezogener Daten verlangen.
      br
      | Sie können darüber hinaus jederzeit ohne Angabe von Gründen von Ihrem Widerspruchsrecht Gebrauch machen und die erteilte Einwilligungserklärung mit Wirkung für die Zukunft abändern oder gänzlich widerrufen. Sie können den Widerruf entweder postalisch, per E-Mail oder per Fax an den Vertragspartner übermitteln. Es entstehen Ihnen dabei keine anderen Kosten als die Portokosten bzw. die übermittlungskosten nach den bestehenden Basistarifen.
    p
      | Wenn Sie uns eine Einwilligung zur Erhebung und Verarbeitung Ihrer personenbezogenen Daten erteilt haben, können Sie diese jederzeit widerrufen. Allerdings entfaltet sich diese Wirkung erst in der Zukunft ab Widerruf.
    h2 Aufsichtsbehörde
    p
      | Sie können zu jeder Zeit eine Beschwerde an die für Sie zuständige Aufsichtsbehörde richten. Die für Sie zuständige Aufsichtsbehörde entnehmen Sie bitte dem folgenden Link, da sich die Zuständigkeit nach dem Bundesland Ihres Wohnsitzes richtet: #[a(href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank" rel='noopener') https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html]
    h2 Zwecke der Datenverarbeitung durch die verantwortliche Stelle und Dritte
    p
      | Wir erheben und verarbeiten Ihre personenbezogenen Daten nur zu den Zwecken, die Sie in unserer Datenschutzerklärung finden. Eine übermittlung Ihrer persönlichen Daten an Dritte außerhalb der hier genannten Zwecken findet nicht statt, es sei denn:
    ul
      li Sie haben uns Ihre ausdrückliche Einwilligung dazu erteilt,
      li dies ist zur Abwicklung eines Vertrags mit Ihnen erforderlich,
      li dies ist erforderlich damit eine rechtliche Verpflichtung erfüllt werden kann,
      li
        | oder aber dies ist zur Wahrung berechtigter Interessen notwendig, dies aber nur dann, wenn wir annehmen müssen und können, dass kein überwiegend schutzwürdiges Interesse Ihrerseits an der Nichtweitergabe Ihrer Daten vorliegt.
    h2 Löschung bzw. Sperrung der Daten
    p
      | Entsprechend der gesetzlichen Vorgaben halten wir uns an die Grundsätze der Datenvermeidung und -sparsamkeit. Ihre personenbezogenen Daten werden daher von uns nur so lange gespeichert, wie dies für die genannten Zwecke erforderlich ist oder wie die vom Gesetzgeber vorgesehenen Fristen einzuhalten sind. Nach Ablauf dieser Fristen oder nach Erfüllung des Zwecks werden die Daten routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt oder gelöscht.
    h2 Erfassung allgemeiner Informationen beim Besuch unserer Website
    p
      | Bei Besuch unserer Website wird nur die IP-Adresse Ihres Routers für eine Woche durch den Provider gespeichert. Dies geschieht jedoch in anonymisierter Form. Dies sind keine Informationen, welche Rückschlüsse auf Ihre Person zulassen. Diese Informationen sind allein technisch notwendig. Bei Nutzung des Internet fallen diese automatisch und zwingend an und werden aber nach 7 Tagen gelöscht.
    p
      | Die Verarbeitung Ihrer personenbezogenen Daten leitet sich aus unserem berechtigten Interesse aus den vorgenannten Zwecken zur Datenerhebung ab. Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen. Empfänger der Daten sind nur die verantwortliche Stelle in unserem Haus oder eventuelle Auftragsverarbeiter.
      br
      | Anonyme Informationen dieser Art werden von uns ggfs. statistisch ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik zu optimieren.
    h2 Cookies
    p
      | Cookies sind kleine Textdateien, die auf dem PC des Internet-Nutzers abgelegt werden. Sie dienen der Steuerung der Internet-Verbindung. Cookies werden zum Teil nur für die Dauer des Aufenthaltes auf der Webseite, zum Teil aber auch längerfristig durch Ihren Browser gespeichert. Aber auf unserer Website werden #[strong keine] Cookies verwendet.
    h2 SSL-Verschlüsselung
    p
      | Um Ihre Daten bei der übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.
    h2 Verwendung von Scriptbibliotheken (Google Webfonts)
    p
      | Damit unsere Website bei Verwendung unterschiedlichster Browser richtig und auch grafisch ansprechend dargestellt wird, verwenden wir auf unserer Website Scriptbibliotheken und Schriftbibliotheken von Google (Google Webfonts) (
      a(href='http://www.google.com/webfonts/', target='_blank', rel='noopener') https://www.google.com/webfonts/
      | ).  Dabei werden Google Webfonts zur Vermeidung mehrfachen Ladens in den Cache Ihres Browsers übertragen. Sollte Ihr Browser Google Webfonts nicht unterstützen oder den Zugriff unterbinden, können die Inhalte nur in einer Standardschrift angezeigt werden.
      | Durch den Aufruf der Script- oder Schriftbibliotheken kommt automatisch eine Verbindung zum Betreiber der Bibliothek zustande. Dabei ist es durchaus möglich, dass die Betreiber dieser Bibliotheken Daten erheben.
      | Die Datenschutzrichtlinie des Bibliothekbetreibers Google finden Sie hier: #[a(href='https://www.google.com/policies/privacy/' target='_blank' rel='noopener') https://www.google.com/policies/privacy/]
    h2 Verwendung von Google Maps
    p
      | Unsere Webseite verlinkt nur auf GoogleMaps. Es werden keinerlei Scripte von GoogleMaps auf unserer Website eingebunden.
    h2 Anpassung der Datenschutzrichtlinien
    p
      | Durch die Weiterentwicklung unserer Webseite oder die Implementierung neuer Technologien o.ä. kann es notwendig werden, diese Datenschutzhinweise zu ändern. Wir behalten uns vor, die Datenschutzhinweise jederzeit mit Wirkung für die Zukunft zu ändern. Wir empfehlen Ihnen, sich die aktuellen Datenschutzhinweise von Zeit zu Zeit erneut durchzulesen.
    h2 Fragen zu Datenschutz
    p
      | Sollten Sie Fragen zum Datenschutz haben, wenden Sie sich einfach an folgende E-Mail-Adresse: #[a(href='mailto:info@friseurschmitt.de?subject=Datenschutzfrage') info@friseurschmitt.de]
    p
      | Dieser Datenschutzhinweis wurde generiert vom Frankfurter Datenschutz: #[a(href='https://www.frankfurter-datenschutz.de' target='_blank') www.frankfurter-datenschutz.de]
