extends ../layouts/layout.pug

block variables
  - var model = '07';
  - var handle = 'datenschutz';

block content
  h1.c-headline.c-headline--h1.c-content__h1 Datenschutz

  //- Richtext content
  .c-richtext
    p Donec sed odio dui. Donec sed odio dui. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.

    p Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper.

    p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor.
