extends ../layouts/layout.pug

block variables
  - var model = '07';
  - var handle = 'impressum';

block content
  h1.c-headline.c-headline--h1.c-content__h1 Impressum

  //- Richtext content
  .c-richtext
    address
      | Friseursalon Schmitt<br />
      | Inhaber: Peter Schmitt<br /><br />

      | Barbarossastraße 33<br />
      | 63579 Freigericht-Somborn<br /><br />

      | #[strong Fon] 06055 / 2354<br />
      | #[strong Fax] 06055 / 9121482<br />
      | #[strong Mail] #[a(href="mailto:info@friseurschmitt.de") info@friseurschmitt.de]<br /><br />

      | USt-IdNr.: DE200288467<br /><br />

      | #[strong Design &amp; Programmierung] #[a(href="http://www.hanfweihnacht.de/" target="_blank") hanfweihnacht GbR]<br /><br />

      | #[strong Bildnachweis Startseite] #[a(href="http://www.panthermedia.net/" target="_blank") panthermedia.net/Yuri A.]
    hr

    h2 Urheberrecht &amp; Haftungshinweise

    p Alle auf diesen Seiten erschienenen Beiträge und Abbildungen sind urheberrechtlich geschützt. Alle Rechte bleiben vorbehalten. Das gilt für die gesamte Website, ihre einzelnen Teile, Grafiken, Layouts, Logos, Fotos, Filme, Software, Texte und sonstigen Inhalte. Reproduktionen, gleich welcher Art bedürfen unserer vorherigen Zustimmung. Trotz aller Sorgfalt können sich Daten auf diesen Seiten inzwischen verändert haben oder Fehler und Ungenauigkeiten enthalten. Aus diesem Grund kann eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit nicht übernommen werden. Wir sind für den Inhalt der Internetseiten, die durch sogenannte Hyperlinks erreicht werden nicht verantwortlich. Desweiteren behalten wir uns vor, Änderungen oder Ergänzungen der bereitgestellten Internetseiten vorzunehmen.
