extends ../layouts/layout.pug

block variables
  - var model = '01';
  - var handle = 'index';

block content
  h1.c-headline.c-headline--h1.c-content__h1 Herzlich Willkommen

  //- Richtext content
  .c-richtext
    img(src="/images/layout/foto_willkommen.jpg", alt="Peter Schmitt")

    h2 Alles für Ihr Haar
    p Wir sind ein Team erfahrener Friseure unter Leitung von Friseurmeister Peter Schmitt.
    p Wir möchten Ihnen auf diesem Weg die Möglichkeit geben uns kennenzulernen. Informieren Sie sich über unser Team, unsere Geschäfts-Philosophie sowie unsere professionelle Haarpflegeserie.
    p Gerne würden wir auch Sie demnächst typgerecht und ganzheitlich beraten oder für einen besonderen Anlass stylen.
    p
    | Wir freuen uns auf Sie!<br />
    | Ihr Friseurteam Schmitt
