extends ../layouts/layout.pug

block variables
  - var model = '05';
  - var handle = 'produkte';

block content
  h1.c-headline.c-headline--h1.c-content__h1 Produkte

  //- Richtext content
  .c-richtext
    img(src="/images/layout/foto_produkte.jpg", alt="Produkte")

    h2 Eine Auswahl unserer Wella-Produkte
