extends ../layouts/layout.pug

block variables
  - var model = '02';
  - var handle = 'uns';

block content
  h1.c-headline.c-headline--h1.c-content__h1 Über uns

  //- Slides
  .c-content__slides.c-slides(data-slides)
    .c-slides__slides
      img#salon-1.c-slides__slide.is-active(src="/images/layout/foto_uns-01.jpg", alt="Salon" data-slides-slide)
      img#salon-2.c-slides__slide(src="/images/layout/foto_uns-02.jpg", alt="Salon" data-slides-slide)
      img#salon-3.c-slides__slide(src="/images/layout/foto_uns-03.jpg", alt="Salon" data-slides-slide)
      img#salon-4.c-slides__slide(src="/images/layout/foto_uns-04.jpg", alt="Salon" data-slides-slide)

    h2.c-slides__headline Der Salon

    .c-slides__thumbs(data-slides-thumbnails)
      a(href="#salon-1" data-slides-thumbnail).c-slides__thumb.is-active
        img(src="/images/layout/foto_uns-01.jpg", alt="Salon")
      a(href="#salon-2" data-slides-thumbnail).c-slides__thumb
        img(src="/images/layout/foto_uns-02.jpg", alt="Salon")
      a(href="#salon-3" data-slides-thumbnail).c-slides__thumb
        img(src="/images/layout/foto_uns-03.jpg", alt="Salon")
      a(href="#salon-4" data-slides-thumbnail).c-slides__thumb
        img(src="/images/layout/foto_uns-04.jpg", alt="Salon")

  //- Richtext content
  .c-richtext
    h2 Das Team
    img(src="/images/layout/team.jpg", alt="Team")

    h2 Mode und Persönlichkeit im Einklang
    p Was heißt "Mode und Persönlichkeit im Einklang"?
    p Dahinter verbirgt sich der Grundsatz, unseren Kunden ganzheitliche "Styling-Lösungen" anzubieten: Professionelles Friseurhandwerk, Modeströmungen und Ihre individuelle Persönlichkeit werden bei uns gleichermaßen berücksichtigt und zu einer  Gesamtkomposition zusammengeführt.
    p Was ist darunter zu verstehen? Den Wunsch unserer Kunden nach Veränderung nehmen wir zum Anlass, um zunächst Vorstellungen zu erfragen und zu konkretisieren. Hierdurch werden erfahrungsgemäß Missverständnisse frühzeitig aus dem Weg geräumt. Immer unter Berücksichtigung der Gesamtpersönlichkeit und des Typs versuchen wir den Kundenwunsch mit aktuellen Schnitttechniken und Stylingvariationen zu verknüpfen, um Ihren individuellen Look zu kreieren.
    p Unser Team legt daher Wert auf fachliche Expertise einerseits und den Dialog zwischen Kunde und Friseur andererseits. Mit anderen Worten: Wir verfolgen eine ganzheitliche Herangehensweise.
    p Die Philosophie "Mode und Persönlichkeit im Einklang" verfolgen wir seit nunmehr 20 Jahren und blicken damit auf eine langjährige und reichhaltige Erfahrung zurück.
    p An unser Handwerk setzen wir hohe Maßstäbe: Unser Ziel ist es, dass Sie als Kunde unseren Salon mit dem bestmöglichen Ergebnis attraktiv und ausgeruht verlassen.
