nav.c-nav
  ul.c-nav__list
    li.c-nav__list
      a.c-nav__link(href='/willkommen.html')
        span Willkommen
    li.c-nav__item
      a.c-nav__link(href='/uns.html')
        span Über uns
    li.c-nav__item
      a.c-nav__link(href='/oeffnungszeiten.html')
        span Öffnungszeiten
    li.c-nav__item
      a.c-nav__link(href='/produkte.html')
        span Produkte
    li.c-nav__item
      a.c-nav__link(href='/partner.html')
        span Partner
    li.c-nav__item
      a.c-nav__link(href='/kontakt.html')
        span Kontakt
    li.c-nav__item
      a.c-nav__link(href='/impressum.html')
        span Impressum
