//
// Menu
// --------------------------------------------------

$menu-icon-size: 1.5rem;
$menu-icon-spacing: $grid-gutter / 2;

.c-menu__group {
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;

  & + & {
    margin-top: 1.25em;
    padding-top: 1.25em;
    border-top: 1px solid rgba(0, 0, 0, .3);
  }

  & + &.c-menu__group--info {
    padding-top: 2em;
  }
}

// Level 1
.c-menu__item {
  & + & {
    margin-top: 1.25rem;
  }
}

.c-menu__item-row {
  display: flex;
  align-items: center;
  color: $color-blue-lighter;
  transition: color $transition-time-default;

  &.is-active,
  &:hover,
  &:focus {
    color: $color-white;
  }
}

.c-menu__icon {
  margin-right: $menu-icon-spacing;
  color: $color-blue-lighter;
  transition: color $transition-time-default;

  .c-menu__item-row.is-active &,
  .c-menu__item-row:hover &,
  .c-menu__item-row:focus & {
    color: $color-turquoise;
  }

  svg {
    width: $menu-icon-size;
    height: $menu-icon-size;
  }
}

.c-menu__title {
  font-weight: $font-weight-bold;
  @include typi('menu-level1');
}

.c-menu__indicator {
  margin-left: auto;
  padding-left: .5rem;

  svg {
    width: .75rem;
    height: .75rem;

    // up
    &:first-of-type {
      display: none;
    }

    // down
    &:last-of-type {
      display: block;
    }
  }

  // active state
  .c-menu__item-row.is-active & svg {
    // up
    &:first-of-type {
      display: block;
    }

    // down
    &:last-of-type {
      display: none;
    }
  }
}

// Level 2
.c-menu__submenu {
  padding-top: 1rem;
  padding-left: $menu-icon-size + $menu-icon-spacing;

  display: none;

  .is-active + & {
    display: block;
  }
}

.c-menu__subitem {
  & + & {
    margin-top: 1rem;
  }
}

.c-menu__subitem-row {
  display: block;
  @include typi('menu-level2');
  color: $color-blue-lighter;
  transition: color $transition-time-default;

  &:hover,
  &:focus {
    color: $color-white;
  }
}
