//
// Richtext
// --------------------------------------------------

.c-richtext {
  img {
    width: 100%;
    height: auto;
    display: block;

    &:not(:first-child) {
      margin-top: rem($content-spacing-inner);
    }

    &:not(:last-child) {
      margin-bottom: rem($content-spacing);
    }
  }

  strong {
    font-weight: $font-weight-bold;
  }

  p {
    margin-bottom: 0;
  }

  hr {
    height: rem(1px);
    background-color: $color-white;
    border: 0 none;
    margin-top: rem($content-spacing-inner);
    margin-bottom: rem($content-spacing-inner);
  }

  p,
  table,
  address,
  ul {
    &:not(:last-child) {
      margin-bottom: rem($content-spacing-inner);
    }

    &:not(:first-child) {
      margin-top: rem($content-spacing-inner);
    }
  }

  a {
    color: $color-gold-light;
    transition: color $transition-time;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  h2,
  h3 {
    @include font-black;
    @include font-smoothing;
  }

  em {
    font-style: italic;
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 1.1em;
  }
}
